<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/main.css" ) }}>
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tela de login</title>
</head>

<body>

    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <img src={{ url_for('static', filename='images/logo.png' )}} alt="">
            <!-- <h1>Vali</h1> -->
        </div>
        <div class="login-box">

            <form class="login-form" action="{{ url_for('auth.login') }}" method="POST">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Login</h3>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" name="email" type="text" placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input class="form-control" name="password" type="password" placeholder="Senha">
                </div>
                <br />
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Entrar</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src={{ url_for('static', filename="js/jquery-3.3.1.min.js" ) }}></script>
    <script src={{ url_for('static', filename="js/popper.min.js" ) }}></script>
    <script src={{ url_for('static', filename="js/bootstrap.min.js" ) }}></script>
    <script src={{ url_for('static', filename="js/main.js" ) }}></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src={{ url_for('static', filename="js/plugins/pace.min.js" ) }}></script>
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.min.js' ) }}"></script>
    <script src="https://kit.fontawesome.com/f93a302032.js" crossorigin="anonymous"></script>

</body>
<script>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
    $.notify({
        message: "{{message}}",
        icon: 'fa fa-check'
    }, {
        type: "{{ 'danger' if category == 'error' else 'success' }}"
    });
    {% endfor %}
    {% endif %}
    {% endwith %}
</script>

</html>