{% extends 'base/default.html' %}
{% set active_page ='user' %}

{% block body %}
  <div class="col-md-12">
    <div class="tile">
      <h3 class="tile-title">Cadastro</h3>
      <div class="tile-body">
        <form class="row" action="{{ url_for('admin.station_update', user_id=station.user_id, station_id=station.id) }}" method="post">
          <div class="form-group col-md-6">
            <label class="control-label">MAC Adress</label>
            <input class="form-control" type="text" name="mac_address" value="{{station.mac_address}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Latitude</label>
            <input class="form-control" type="text" name="latitude" value="{{station.latitude}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Longitude</label>
            <input class="form-control" type="text" name="longitude" value="{{station.longitude}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Altitude</label>
            <input class="form-control" type="text" name="altitude" value="{{station.altitude}}" >
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Altura</label>
            <input class="form-control" type="text" name="altura" value="{{station.altura}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Altura Dossel</label>
            <input class="form-control" type="text" name="altura_dossel" value="{{station.altura_dossel}}">
          </div>          
          <div class="form-group col-md-3">
            <label class="control-label">Cod INMET</label>
            <input class="form-control" type="text" name="cod_inmet" value="{{station.cod_inmet}}" >
          </div>
          <div class="form-group col-md-4 align-self-end">            
            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Salvar</button>
            <a class="btn btn-secondary" href="{{ url_for('admin.stations_by_user', user_id=station.user_id)}}"> <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}

  
  
  
  
  
  