{% extends 'base/default.html' %}
{% set active_page= 'station' %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.1/viewer.css">
{% endblock %}
{% block body %}
<div class="col-md-12">
  <div class="tile">
    <div class="tile-title-w-btn">
      <h3 class="title"></h3>
      <form action="{{url_for('evapo.et_info', id=id)}}" method="post">
        <div class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="demoDate" value="{{date_filter}}" name="date_filter" class="form-control">
              <span title="Filtrar"><button type="submit" class="btn btn-primary"><i
                    class="fa fa-filter"></i></button></span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="lineChart"></div>
  </div>
  <div class="tile">
    <h3 class="tile-title">Tabela com informações estatistiscas</h3>
    <div class="table table-responsive table-hover">
      <table class="table">
        <th>Hora</th>
        <th>Minimo</th>
        <th>Maximo</th>
        <th>Media</th>
        <th>Mediana</th>
        <th>Desvio Pdrão</th>
        <th>Variancia</th>
        <th>Imagem</th>
        <tbody>
          {% for i, value in informations.iterrows()%}
          <tr>
            <td>{{value['date_time'].time().strftime('%H:%M')}}</td>
            <td>{{"%.4f"|format(value['min'])}}</td>
            <td>{{"%.4f"|format(value['max'])}}</td>
            <td>{{"%.4f"|format(value['mean'])}}</td>
            <td>{{"%.4f"|format(value['median'])}}</td>
            <td>{{"%.4f"|format(value['std'])}}</td>
            <td>{{"%.4f"|format(value['var'])}}</td>
            <td>
              <button class="btn btn-info" onclick=show_image("{{url_for('evapo.show_image',
                name=value['img_file'])}}")><i class="fa-solid fa-image"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/plugins/bootstrap-datepicker.min.js')}}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.1/viewer.min.js"></script>
<script type="text/javascript">

  var graphs = {{ graphJSON | safe}};

  Plotly.plot('lineChart', graphs);

  $('#demoDate').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
  });
</script>
<script>
  function show_image(img) {
    var image = new Image();

    image.src = img;

    var viewer = new Viewer(image, {
      hidden: function () {
        viewer.destroy();
      },
    });
    viewer.show();
  };
</script>
{% endblock %}
