{% extends 'base/default.html' %}
{% set active_page ='station' %}
{% block body %}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Tabela de Estações</h3>
        <div class="table table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th>MAC Adress</th>
                        <th>Altitude</th>
                        <th>Altura</th>
                        <th>Altura Dossel</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Cod INMET</th>
                        <th>Informações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for station in stations %}
                    <tr>
                        <td>{{station.mac_address}}</td>
                        <td>{{station.altitude}}m</td>
                        <td>{{station.altura}}m</td>
                        <td>{{station.altura_dossel}}m</td>                       
                        <td>{{station.latitude}}</td>
                        <td>{{station.longitude}}</td>
                        <td>{{station.cod_inmet}}</td>
                        <td>
                            <a class="btn btn-info" href="{{ url_for('evapo.et_info_today', id=current_user.id, date_filter=date)}}"><i class="fa-solid fa-circle-info"></i></a>
                            
                        </td>
                    </tr>                
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}