{% extends 'base/default.html' %}
{% block body %}
<div class="col-md-6">  
    <div id="lineChartDemo"></div>
</div>
<div class="col-md-6">    
    <div id="pieChartDemo"></div>
</div>
{% endblock %}


{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

  x = ["January", "February", "March", "April", "May"]
  datay1 = [65, 59, 80, 81, 56]
  datay2 = [28, 48, 40, 19, 86]

  var pdata = [
    {
      value: 300,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Complete"
    },
    {
      value: 50,
      color: "#F7464A",
      highlight: "#FF5A5E",
      label: "In-Progress"
    }
  ]

  var data = [
    { x: x, y: datay1, mode: "lines", name: 'Maximo' },
    { x: x, y: datay2, mode: "lines", name: 'Minimo' },
  ]

  var pdata = [
    { labels: x, values: datay1, type: "pie", sort: false },
  ]
  Plotly.newPlot("lineChartDemo", data, { title: 'Evapotranspiração Mensal' });
  Plotly.newPlot("pieChartDemo", pdata, {});


</script>
{% endblock %}